jobs:
  setup:
    steps:
      - buildevents/start_trace
    docker:
      - auth:
          password: $DOCKER_PASSWORD
          username: $DOCKER_USERNAME
        image: trussworks/circleci:efb1042e31538677779971798e0912390f699e72
  watch:
    steps:
      - buildevents/watch_build_and_finish
    docker:
      - auth:
          password: $DOCKER_PASSWORD
          username: $DOCKER_USERNAME
        image: trussworks/circleci:efb1042e31538677779971798e0912390f699e72

references:
  circleci: trussworks/circleci:29ab89fdada1f85c5d8fb685a2c71660f0c5f60c
version: 2.1

workflows:
  validate:
    jobs:
      - setup:
          context:
            - org-global
      - watch:
          context:
            - org-global
          requires:
            - setup
  version: 2.1
orbs:
  buildevents: honeycombio/buildevents@0.2.7
